  <% @page_title = "Show Section" %>
<br>
  <div class="links btn-group">
    <%= link_to("<< Back to Section List", {:action => 'index', :project_id => @project.id}, :class => 'btn btn-custom') %>
  </div>
  
    <h2>Section Detail View</h2>

    <table summary="Section detail view">
      <tr>
        <th>Project Name</th>
        <td><%= @project.name %></td>
      </tr>
      <tr>
        <th>Project ID</th>
        <td><%= @section.project_id %></td>
      </tr>
      <tr>
        <th>Section Name</th>
        <td><%= @section.name %></td>
      </tr>
      <tr>
        <th>Section Permalink</th>
        <td><%= @section.permalink %></td>
      </tr>
      <tr>
        <th>Section Position</th>
        <td><%= @section.position %></td>
      </tr>
      <tr>
        <th>Pages in Section</th>
        <td><%= @section.pages.size %></td>
      </tr>
      <tr>
        <th>Visible?</th>
        <td><%= @section.visible ? 'true' : 'false' %></td>
      </tr>
      <tr>
        <th>Created</th>
        <td><%= @section.created_at %></td>
      </tr>
      <tr>
        <th>Updated</th>
        <td><%= @section.updated_at %></td>
      </tr>
      <tr>
        <th>Actions</th>
        <td>
          <div class="links btn-group">
            <%#= link_to("View Section Pages", {:controller => 'sections', :page_id => @page.id}, :class => 'btn btn-custom') %>
            <%= link_to("Edit Section", {:action => 'edit', :id => @section.id, :project_id => @project.id}, :class => 'btn btn-custom') %><br>
            <%= link_to("Delete Section", {:action => 'delete', :id => @section.id, :project_id => @project.id}, :class => 'btn btn-custom') %>
          </div>
</td>
      </tr>
    </table>
