  <% @page_title = "Projects" %>

    <h2>All QA Projects</h2>
    
    <div class="links btn-group">
      <%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Project", {:action => 'new'}, :class => 'btn btn-custom navbar-right') %>
    </div>

    <h3><%= pluralize(@projects.size, 'project') %> found</h3>

    <table summary="Project list">
      <tr>
        <th>Position</th>
        <th>Project</th>
        <th class="center">Visible?</th>
        <th class="center"># of Sections</th>
        <!--<th>Pages:</th>-->
        <th>Actions</th>
      </tr>
      <% @projects.each do |project| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= project.position %></td>
        <td><%= project.name %><br>
          <div class="links btn-group">
            <%= link_to("View Details", {:action => 'show', :id => project.id}, :class => 'btn btn-custom') %>
          </div>
        </td>
        <td class="center"><%= status_tag(project.visible) %></td>
        <td class="center"><%= project.sections.size %><br>
          <div class="links btn-group">
            <%= link_to("View Sections", {:controller => 'sections', :project_id => project.id}, :class => 'btn btn-custom') %>
          </div>
        </td>
        <!--<td class="center"><%#= page.sections.size %></td>-->
        <td class="actions">
          <div class="links btn-group">
            <%#= link_to("View Project Detail", {:action => 'show', :id => subject.id}, :class => 'btn btn-custom') %>
            <%= link_to("Edit Project", {:action => 'edit', :id => project.id}, :class => 'btn btn-custom') %><br>
            <%= link_to("Delete Project", {:action => 'delete', :id => project.id}, :class => 'btn btn-custom') %>
            </div>
        </td>
        <!--<td class="actions">
          <div class="links btn-group">
            <%#= link_to("Edit Project", {:action => 'edit', :id => subject.id}, :class => 'btn btn-custom') %>
            <%#= link_to("Delete Project", {:action => 'delete', :id => subject.id}, :class => 'btn btn-custom') %>
          </div>
        </td>-->
      </tr>
      <% end %>
    </table>
