	<% @page_title = "Edit Admin User: #{@admin_user.name}" -%>
	<br>
	<div class="links btn-group">
		<%= link_to("<< Back to Admin Users List", {:action => 'index'}, :class => 'btn btn-custom2') %>
	</div>

	<h2>Edit Admin User: <%= @admin_user.name %></h2>

	<%= form_for(:admin_user, :url => {:action => 'update', :id => @admin_user.id}) do |f| %>

	<%= render(:partial => 'form', :locals => {:f => f} ) %>
	<br>
		<div class="links btn-group">
	    	<%= submit_tag('Update Admin User', :class => 'btn btn-custom2') %>
	    </div>
	<% end %>
